* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f9fafb;
  color: #111827;
  line-height: 1.6;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: white;
  border-bottom: 1px solid #e5e7eb;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #374151;
  font-weight: 500;
}

.hero-image {
    text-align: center;
    padding: 100px 20px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/Screenshot 2026-01-22 105049.png");
    background-size: cover;
    background-position: center;
    height: 100%;
    background-repeat: no-repeat;
    position:relative;
}

.hero p {
  max-width: 600px;
  margin: 20px auto;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 28px;
  background: #4f46e5;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}

/* SECTIONS */
section {
  max-width: 900px;
  margin: auto;
  padding: 80px 20px;
}

h2 {
  margin-bottom: 20px;
}
h1{
    color: white;
    color: rgba(255, 255, 255, 0.9);
}
/* PROJECTS */
.project-card {
  background: white;
  padding: 30px;
  border-radius: 10px;
  margin-top: 30px;
}

.project-card ul {
  margin: 15px 0;
  padding-left: 20px;
}

.tech {
  margin-top: 10px;
}

.links a {
  margin-right: 15px;
  text-decoration: none;
  color: #4f46e5;
  font-weight: 500;
}

/* SKILLS */
.skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.skills-grid span {
  background: #e5e7eb;
  padding: 10px 14px;
  border-radius: 6px;
  font-size: 14px;
}

/* CONTACT */
.contact {
  text-align: center;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 30px;
  background: #f3f4f6;
  font-size: 14px;
}
.about {
    text-align: center;
}
.projects {
    text-align: center;
}
.skills {
    text-align: center;

}
